.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  
  .task-item {
    animation: fadeIn 0.3s ease;
  }
  
  .task-item.completed {
    animation: fadeOut 0.3s ease;
  }
  
  :root {
    --background-color: #ffffff;
    --text-color: #333;
    --navbar-background: #2c3e50 ;
    --navbar-text-color: #ffffff;
    --task-background: #f8f9fa;
  }
  
  body.dark {
    --background-color: #121212;
    --text-color: #ffffff;
    --navbar-background: #333;
    --navbar-text-color: #ffffff;
    --task-background: #1e1e1e;
  }