.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
    margin-right: 20px; /* Add margin to the right */
  }
  
  .task-input input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .task-options {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .add-task-button {
    background: #2c3e50 ;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .add-task-button svg {
    margin-right: 5px;
  }