.task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    width: 100%;
  }
  
  .task-input input {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .task-options {
    display: flex;
    justify-content: space-between;
    
  }
  
  .add-task-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }